* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans";
}

body {
  background: linear-gradient(to top, #6666e8, #af67e9) no-repeat;
  background-size: cover;
}
@media (min-width: 600px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.principal {
  background-color: #fff;
  border-radius: 20px;
  padding: 0 1.5em 1.5em 1.5em;
  margin: 8em 1.5em 0;
  max-width: 550px;
  box-shadow: 0 10px 30px #4a4b5e;
}
@media (min-width: 600px) {
  .principal {
    width: 550px;
  }
}
@media (min-width: 1200px) {
  .principal {
    margin: 1.5em;
    padding: 0;
    height: 500px;
    min-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    overflow-x: hidden;
  }
}

.text {
  padding-bottom: 1.2em;
}

.imagens {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("images/bg-pattern-mobile.svg") no-repeat;
  background-size: 230px;
  background-position: center -10px;
}
@media (min-width: 1200px) {
  .imagens {
    height: 100%;
    width: 100%;
    background: url("images/bg-pattern-desktop.svg") no-repeat;
    background-size: 1000px;
    background-position: -610px -310px;
  }
}
.imagens .image-mobile {
  width: 230px;
  transform: translate(0, -105px);
}
@media (min-width: 1200px) {
  .imagens .image-mobile {
    display: none;
  }
}
.imagens .image-desktop {
  display: none;
}
@media (min-width: 1200px) {
  .imagens .image-desktop {
    display: block;
    width: 460px;
    transform: translate(-70px, 80px);
  }
}
.imagens .box {
  display: none;
}
@media (min-width: 1200px) {
  .imagens .box {
    display: block;
    position: fixed;
    transform: translate(-230px, 200px);
  }
}

.titulo {
  padding: 0.7em;
  text-align: center;
}
@media (min-width: 1200px) {
  .titulo {
    text-align: start;
    padding: 0.7em 0;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 1200px) {
  .questions {
    max-width: 340px;
  }
}
.questions .border-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em 0;
  border-bottom: 1px solid rgba(120, 120, 135, 0.1803921569);
}
.questions .border-bottom .arrow-down {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.questions .border-bottom .arrow-down:hover {
  cursor: pointer;
  color: #f47c57;
}
.questions .border-bottom .arrow-down img {
  transform: rotateX(0deg);
}
.questions .question {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  font-weight: 500;
  text-align: start;
}
.questions .answer {
  display: none;
  color: #787887;
  opacity: 70%;
  font-size: 0.8em;
  font-weight: 500;
}

.footer {
  color: #e7e7e9;
  font-size: 0.8em;
  text-align: center;
  padding: 0 0 1.5em 0;
}
.footer a {
  text-decoration: none;
  color: #f47c57;
}
.footer a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */