@charset "UTF-8";

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans";
}

// Variables

$Very-dark-desaturated-blue: #1c1d36;
$Soft-red: #f47c57;
$Very-dark-grayish-blue: #4a4b5e;
$Dark-grayish-blue: #787887;
$Border: #7878872e;
$Light-grayish-blue: #e7e7e9;
$Soft-violet: #af67e9;
$Soft-blue: #6666e8;
$Bg-gradient: linear-gradient(to top, $Soft-blue, $Soft-violet);
$White: #fff;
$Black: #000;

$Kumbh-Sans: "Kumbh Sans", sans-serif;

// Mixins

@mixin question {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    font-weight: 500;
    text-align: start;
}

@mixin answer {
    display: none;
    color: $Dark-grayish-blue;
	opacity: 70%;
    font-size: 0.8em;
    font-weight: 500;
}

// Styles

body {
    background: $Bg-gradient no-repeat;
    background-size: cover;
    @media (min-width: 600px) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            
        }
    }
    .principal {
        background-color: $White;
        border-radius: 20px;
        padding: 0 1.5em 1.5em 1.5em;
        margin: 8em 1.5em 0;
		max-width: 550px;
        box-shadow: 0 10px 30px $Very-dark-grayish-blue;

        @media (min-width: 600px) {
            width: 550px;                        
            }
        @media (min-width: 1200px) {
            margin: 1.5em;
            padding: 0;
            height: 500px;
            min-width: 900px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            overflow-x: hidden;
        }

        }     
        .text {
            padding-bottom: 1.2em;
		}
        .imagens {
            height: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: url('images/bg-pattern-mobile.svg') no-repeat;
            background-size: 230px;
            background-position: center -10px;

            @media (min-width: 1200px) {
                height: 100%;
                width: 100%;
                background: url('images/bg-pattern-desktop.svg') no-repeat;
                background-size: 1000px;
                background-position: -610px -310px;
            }        
            .image-mobile {                
                width: 230px;
                transform: translate(0, -105px);    
                @media (min-width: 1200px) {
                    display: none;
                }
            }
            .image-desktop {
                display: none;
                @media (min-width: 1200px) {
                    display: block;
                    width: 460px;
                    transform: translate(-70px, 80px);
                }
            }
            .box {
                display: none;
                @media (min-width: 1200px) {
                    display: block;
                    position: fixed;
                    transform: translate(-230px, 200px);
                }
            }
        }       
        
        .titulo {
            padding: 0.7em;
            text-align: center;
            @media (min-width: 1200px) {
                text-align: start;
                padding: .7em 0;
            }
        }
        .questions {
            display: flex;
            flex-direction: column;
            gap: 15px;
            @media (min-width: 1200px) {
                max-width: 340px;
            }
            .border-bottom {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 1em 0;
                border-bottom: 1px solid $Border;
                .arrow-down {
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    &:hover {
                        cursor: pointer;
                        color: $Soft-red;
                    }
                    img {
                        transform: rotateX(0deg)
                    }
                }
            }

            .question {
                @include question;
            }

            .answer {
                @include answer;
            }
        }
    

	.footer {
		color: $Light-grayish-blue;
		font-size: .8em;
		text-align: center;
		padding: 0 0 1.5em 0;
		a {
			text-decoration: none;
			color: $Soft-red;
			&:hover {
				text-decoration: underline;
			}
		}
	}